In [1]:
import requests
import pandas as pd 
from api import census 
from pprint import pprint

In [2]:
base_urls=["https://api.census.gov/data/2010/acs/acs5","https://api.census.gov/data/2011/acs/acs5",
"https://api.census.gov/data/2012/acs/acs5","https://api.census.gov/data/2013/acs/acs5",
"https://api.census.gov/data/2014/acs/acs5","https://api.census.gov/data/2015/acs/acs5",
"https://api.census.gov/data/2016/acs/acs5","https://api.census.gov/data/2017/acs/acs5",
"https://api.census.gov/data/2018/acs/acs5","https://api.census.gov/data/2019/acs/acs5"]

In [3]:
year = []
state=[]
totalhousing = []
totalvacancy =[]
totalrenteroccupied = []
owneroccupied = []
forrent = []
forsale = []
county = []

In [4]:
dc={'for':'state:11','get' : 'NAME,B25001_001E,B25004_001E,B25003_003E,B25003_002E,B25004_002E,B25004_004E','key' : census}

In [40]:
dc1 = requests.get(base_urls[1], params=dc).json()

dc1

[['NAME',
  'B25001_001E',
  'B25004_001E',
  'B25003_003E',
  'B25003_002E',
  'B25004_002E',
  'B25004_004E',
  'state'],
 ['District of Columbia',
  '295510',
  '35374',
  '148755',
  '111381',
  '10075',
  '3457',
  '11']]

In [8]:
for url in base_urls :
    dc_house=requests.get(url,params=dc).json()
    county.append(dc_house[1][0].split(",")[0])
    totalhousing.append(dc_house[1][1])
    totalvacancy.append(dc_house[1][2])
    totalrenteroccupied.append(dc_house[1][3])
    owneroccupied.append(dc_house[1][4])
    forrent.append(dc_house[1][5])
    forsale.append(dc_house[1][6])
    state.append(dc_house[1][0].split(",")[0])
    year.append(url.split("/")[4])

In [9]:
dc_df = pd.DataFrame({'Year': year})

In [11]:
dc_df['State']= state

dc_df['Total Housing'] = totalhousing
dc_df['Total Vacancies'] = totalvacancy
dc_df['Total Renter Occupied'] = totalrenteroccupied
dc_df['Owner Occupied'] = owneroccupied
dc_df['For Rent']= forrent
dc_df['For Sale']=forsale

In [12]:
dc_df

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale
0,2010,District of Columbia,293492,36175,145438,111879,10229,3774
1,2011,District of Columbia,295510,35374,148755,111381,10075,3457
2,2012,District of Columbia,296671,35479,150339,110853,10423,3458
3,2013,District of Columbia,298327,34678,152579,111070,10518,3090
4,2014,District of Columbia,300798,33383,156217,111198,10767,2567
5,2015,District of Columbia,303312,29922,160640,112750,9549,2138
6,2016,District of Columbia,306711,30165,163874,112672,10256,2000
7,2017,District of Columbia,308161,30176,162190,115795,10294,1875
8,2018,District of Columbia,311545,30223,163751,117571,10492,1905
9,2019,District of Columbia,315176,30790,166019,118367,11319,1920

In [25]:
len(state)

10

In [26]:
len(totalhousing)

10

In [19]:
dc_housing = 'Resource/dc_housingcsv.csv'
dc_df.to_csv(dc_housing)

In [16]:
housing_sort = pd.read_csv('Resource/housing_sortedcsv.csv')

In [20]:
dc_df2=pd.read_csv('Resource/dc_housingcsv.csv')

In [31]:
housing_w_dc = dc_df2.merge(housing_sort, how='outer')

In [33]:
housing_w_dc

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,Unnamed: 0,County
0,2010,District of Columbia,293492,36175,145438,111879,10229,3774,NaN,NaN
1,2011,District of Columbia,295510,35374,148755,111381,10075,3457,NaN,NaN
2,2012,District of Columbia,296671,35479,150339,110853,10423,3458,NaN,NaN
3,2013,District of Columbia,298327,34678,152579,111070,10518,3090,NaN,NaN
4,2014,District of Columbia,300798,33383,156217,111198,10767,2567,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
455,2019,Washington,28063,1340,8428,18295,234,160,445.0,Franklin County
456,2019,Washington,23801,5454,7498,10849,502,128,446.0,Kittitas County
457,2019,Washington,76241,4120,22484,49637,1232,319,447.0,Benton County
458,2019,Washington,935471,53443,379735,502293,12956,5179,448.0,King County
459,2019,Washington,310127,16304,96687,197136,3876,1617,449.0,Snohomish County

In [36]:
housing_w_dc=housing_w_dc.drop(columns='Unnamed: 0',axis =1 )

In [37]:
housing_w_dc

,Year,State,Total Housing,Total Vacancies,Total Renter Occupied,Owner Occupied,For Rent,For Sale,County
0,2010,District of Columbia,293492,36175,145438,111879,10229,3774,NaN
1,2011,District of Columbia,295510,35374,148755,111381,10075,3457,NaN
2,2012,District of Columbia,296671,35479,150339,110853,10423,3458,NaN
3,2013,District of Columbia,298327,34678,152579,111070,10518,3090,NaN
4,2014,District of Columbia,300798,33383,156217,111198,10767,2567,NaN
...,...,...,...,...,...,...,...,...,...
455,2019,Washington,28063,1340,8428,18295,234,160,Franklin County
456,2019,Washington,23801,5454,7498,10849,502,128,Kittitas County
457,2019,Washington,76241,4120,22484,49637,1232,319,Benton County
458,2019,Washington,935471,53443,379735,502293,12956,5179,King County
459,2019,Washington,310127,16304,96687,197136,3876,1617,Snohomish County

In [41]:
dc_states=('Resource/housing_w_dc.csv')
housing_w_dc.to_csv(dc_states)